@model IdentitySample.Models.RoleViewModel

<br />
<br />
<br />
<div id="mdivG">
    @using (Html.BeginForm())
    {
        <br />
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label class="control-label col-sm-5" for="name" style="font-size:14px !important">Role Name*</label>
                <div class="col-sm-3 col-md-3">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-5" for="name" style="font-size:14px !important"></label>
                <div class="col-sm-3 col-md-3">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
            </div>

            }
        </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
<style>
    #mdiv {
        margin: auto;
        width: 50%;
        padding: 10px;
    }

    #mdivG {
        margin: auto;
        width: 800px;
        height: auto;
        padding: 0px;
        background-color: #ffffff;
        border: 2px solid #2a6496;
        border-radius: 5px;
        /*background-image: url('/assets/UN-Logo (1).png');
           background-size: 300px 300px;*/
        background-repeat: no-repeat;
        background-position: 90% 30%;
    }


    #mdiv section {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>